server {
        listen 80;
        underscores_in_headers on;
        location / {
                root /site/web;
                try_files $uri $uri/ /index.html;
                index index.html;
        }
        access_log  /var/log/nginx/firmiana_wx_web.yunniao.cn.access.log main;
        error_log   /var/log/nginx/firmiana_wx_web.yunniao.cn.error.log  error;
}
