/* Variables */

// 主题色
$main: #2F448A;
$main-btn: #649CEE;
$assist-btn: #FFB400;
$main-font: #3C4353;
$assist-font: #838A9D;

// Base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#2F448A;
// $subMenuBg: #649CEE;
$subMenuHover:#364E8F;
$subMenuActiveText:#fff;
$subMenuActiveBg: #577AC0;
$subMenuBorder: #65A0EF;
$menuBg:#364E8F;
$menuText:#fff;
$menuActiveText:#399FFB; // Also see settings.sidebarTextTheme

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveBg: $subMenuActiveBg;
  subMenuBorder: $subMenuBorder;
}
